body {
  margin: 0;
}

#overlay {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 10px; /* Adjust this value if you want to move the text further down or up */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 24px; /* Adjust font size as needed */
  color: red; /* Adjust text color if needed */
}


#crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;   
  height: 20px;  
  background: transparent;
  border: 3px solid red;  
  border-radius: 50%;
  z-index: 10;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

#crosshair::before, #crosshair::after {
  content: '';
  position: absolute;
  background-color: red;
}

#crosshair::before {
  width: 100%;
  height: 1px;   
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#crosshair::after {
  width: 1px;   
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

#crosshair .inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;  
  height: 5px; 
  background: transparent;
  border: 2px solid red;  
  border-radius: 50%;
  transform: translate(-50%, -50%);
}



#death-message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b10e0e;
  font-size: 64px;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #000, 4px 4px 10px #000;
  animation: fadeIn 2s ease-in-out;
}
.hidden {
  display: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

a-scene {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: 'Arial', sans-serif;
}